<ion-view view-title="Available meals">
    <ion-nav-buttons side="right">
      <button class="button button-clear button-positive icon-left" ng-class="{'ion-ios-checkmark-empty':going}" ng-click="toggleGo()">
          {{going?'Going':'I will go!'}}
          <!--span ng-if='!going'>I will go!</span>
          <span ng-if='going'>Going</span-->
      </button>
    </ion-nav-buttons>
  <ion-content>
      
    <div ng-repeat="img in event.images">
      <img ng-src="{{img}}" class="full-image">
    </div>
      
    <div class="list" ng-if="event">

      <div  class="item">
        <h2 ng-bind="event.roomname"></h2>
      </div>
        
      <div class="row">
          <div class="col text-center">
            <img src="img/cutlery_green_75.png" width="50">
            <div ng-bind="event.foodtype"></div>
          </div>
          <div class="col text-center">
            <img src="img/portion_green_75.png" width="50">
            <div ng-bind="event.servings"></div>
          </div>
          <div class="col text-center">
            <img src="img/hourglass_green_75.png" width="50">
            <div ng-bind="event.timeLeftDisplay"></div>
          </div>
      </div>
        
      <div class="item">
          <p class="subdue" ng-show="event.distance">{{event.distance}} km away</p>
          <h3 ng-bind="event.location"></h3>
          <p>
            Hosted by: {{event.username}} 
            <!--<a ng-show="event.contact" ng-href="{{'tel:'+event.contact}}">({{event.contact}})</a>-->
          </p>
          <p class="subdue" ng-class="event.contact"></p>
      </div>
        
      <div class="item">
          <p ng-bind="event.additionalInfo"></p>
      </div>
        
      <div map="{latitude:event.latitude,longitude:event.longitude}"></div>

    </div>
      
  </ion-content>
</ion-view>