<ion-view view-title="Food event">
    <ion-nav-buttons side="right">
      <button class="button button-clear button-positive icon-left" ng-show="event && username != event.username"
              ng-class="{'ion-ios-checkmark-empty':event.isUserGoing}" ng-click="toggleGo()">
          {{event.isUserGoing?'Going':'Going?'}}
      </button>
    </ion-nav-buttons>
  <ion-content>
      
    <div ng-repeat="img in event.images">
      <img ng-src="{{img}}" class="full-image">
    </div>
      
    <div class="list" ng-if="event">

      <h1 class="item" ng-bind="event.roomname"></h1>
        
      <div class="row">
          <div class="col text-center">
            <img src="img/cutlery_green_75.png" width="37.5">
            <div ng-bind="event.foodtype"></div>
          </div>
          <div class="col text-center">
            <img src="img/portion_green_75.png" width="37.5">
            <div ng-bind="event.servings"></div>
          </div>
          <div class="col text-center">
            <img src="img/hourglass_green_75.png" width="37.5">
            <div ng-bind="event.endtime|timeleft"></div>
          </div>
      </div>
        
      <div class="item">
          <p class="subdue" ng-show="event.distance">{{event.distance}} km away</p>
          <h3 ng-bind="event.location"></h3>
          <p>
            Hosted by: {{event.username}} 
            <!--<a ng-show="event.contact" ng-href="{{'tel:'+event.contact}}">({{event.contact}})</a>-->
          </p>
          <p>
            Contact: {{event.contact}} 
          </p>
      </div>
        
      <div class="item" ng-hide="event.additionalInfo.length == 0">
          <p ng-bind="event.additionalInfo"></p>
      </div>
        
      <div map="{latitude:event.latitude,longitude:event.longitude}"></div>

    </div>
      
  </ion-content>
</ion-view>