<ion-view view-title="Profile">
  <ion-content>
      
    <div class="row padding">
      <div class="col"></div>
      <div class="col col-50">
        <img src="img/default-avatar.png" class="full-image" style="border-radius: 50%;">
      </div>
      <div class="col"></div>
    </div>
      
    <div class="list">

      <!--<a class="item" href="#">
        Email
        <span class="item-note">
          hwee28687@gmail.com
        </span>
      </a>-->

      <a class="item" href="#">
        Username
        <span class="item-note">
          {{user.username}}
        </span>
      </a>

      <a class="item" href="#">
        Meals Saved
        <span class="item-note">
          {{user.mealsSaved}}
        </span>
      </a>

      <a class="item" href="#">
        Meals Shared
        <span class="item-note">
          {{user.mealsSaved}}
        </span>
      </a>

        <div class="padding-horizontal">
            <button class="button button-positive button-block" ng-click="logout()">Logout</button>
        </div>
    </div>
  </ion-content>
</ion-view>
